In [2]:
import pandas as pd

In [3]:
data = {'Cantidad':[1,6,3],'Artículo':['Huevo','pan','fruta'],'precio':[10,5,2]}
df = pd.DataFrame(data)

data_2 = {'numero':[100,50,60],'item':['Manguera','Tornillo','Clavo'],'costo':[2,10,10]}
df_2 = pd.DataFrame(data_2)

In [4]:
df

   Cantidad Artículo  precio
0         1    Huevo      10
1         6      pan       5
2         3    fruta       2

In [5]:
df_2

   numero      item  costo
0     100  Manguera      2
1      50  Tornillo     10
2      60     Clavo     10

In [6]:
df['total'] = df['Cantidad'] * df['precio']
df_2['total'] = df_2['numero'] * df_2['costo']

In [7]:
df

   Cantidad Artículo  precio  total
0         1    Huevo      10     10
1         6      pan       5     30
2         3    fruta       2      6

In [8]:
df_2

   numero      item  costo  total
0     100  Manguera      2    200
1      50  Tornillo     10    500
2      60     Clavo     10    600

In [9]:
producto = input('escribe el producto a escanear:')

#for i,thing in df.iterrows():
#    global producto
#    cantidad = thing['Cantidad']
#    Total = thing['total']
#    artículo = thing['Artículo']
#    if artículo == producto:
#        print(f"Se compró {cantidad} {artículo} y fue un total de ${Total}")'''

In [10]:
def gasto (df,col_1,col_2,col_3):
    for i,thing in df.iterrows():
        global producto
        cantidad = thing[col_1]
        Total = thing[col_2]
        articulo = thing[col_3]
        if articulo == producto:
            return f"Se compró {cantidad} {articulo} y fue un total de ${Total}"
        
print(gasto(df,'Cantidad','total','Artículo'))

Se compró 1 Huevo y fue un total de $10